openapi: 3.0.3
info:
  title: ATLVS API
  description: |
    ATLVS (Advanced Task & Logistics Venue System) provides project management,
    task tracking, budget management, equipment booking, and analytics for event production.
  version: 1.0.0
  contact:
    name: ATLVS API Support
    email: api-support@gvteway-atlvs.com

servers:
  - url: https://api.gvteway-atlvs.com
    description: Production server
  - url: http://localhost:3000
    description: Development server

security:
  - bearerAuth: []

tags:
  - name: Projects
    description: Project management
  - name: Tasks
    description: Task management
  - name: Budgets
    description: Budget tracking
  - name: Equipment
    description: Equipment inventory and booking
  - name: Documents
    description: Document management
  - name: Analytics
    description: Analytics and reporting
  - name: Teams
    description: Team management

paths:
  /api/atlvs/projects:
    get:
      tags:
        - Projects
      summary: List projects
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [PLANNING, IN_PROGRESS, ON_HOLD, COMPLETED, CANCELLED]
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Projects
      summary: Create project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

  /api/atlvs/projects/{id}:
    get:
      tags:
        - Projects
      summary: Get project by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

    put:
      tags:
        - Projects
      summary: Update project
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated

    delete:
      tags:
        - Projects
      summary: Delete project
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Project deleted

  /api/atlvs/tasks:
    get:
      tags:
        - Tasks
      summary: List tasks
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: projectId
          in: query
          schema:
            type: string
        - name: assigneeId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [TODO, IN_PROGRESS, REVIEW, COMPLETED, BLOCKED]
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Tasks
      summary: Create task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task created

  /api/atlvs/tasks/{id}:
    get:
      tags:
        - Tasks
      summary: Get task by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'

    put:
      tags:
        - Tasks
      summary: Update task
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated

  /api/atlvs/equipment:
    get:
      tags:
        - Equipment
      summary: List equipment
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [AVAILABLE, IN_USE, MAINTENANCE, RETIRED]
        - name: type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of equipment
          content:
            application/json:
              schema:
                type: object
                properties:
                  equipment:
                    type: array
                    items:
                      $ref: '#/components/schemas/Equipment'

    post:
      tags:
        - Equipment
      summary: Add equipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEquipmentRequest'
      responses:
        '201':
          description: Equipment added

  /api/atlvs/equipment/{id}/book:
    post:
      tags:
        - Equipment
      summary: Book equipment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookEquipmentRequest'
      responses:
        '201':
          description: Equipment booked

  /api/atlvs/budgets:
    get:
      tags:
        - Budgets
      summary: List budgets
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of budgets
          content:
            application/json:
              schema:
                type: object
                properties:
                  budgets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Budget'

    post:
      tags:
        - Budgets
      summary: Create budget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBudgetRequest'
      responses:
        '201':
          description: Budget created

  /api/atlvs/analytics/kpi:
    get:
      tags:
        - Analytics
      summary: Get KPI metrics
      parameters:
        - name: projectId
          in: query
          schema:
            type: string
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: KPI metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KPIMetrics'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        budget:
          type: number
          format: float
        progress:
          type: integer
        teamSize:
          type: integer
        manager:
          $ref: '#/components/schemas/User'

    CreateProjectRequest:
      type: object
      required:
        - name
        - startDate
        - endDate
      properties:
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        budget:
          type: number
          format: float

    UpdateProjectRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        budget:
          type: number

    Task:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
        assignee:
          $ref: '#/components/schemas/User'
        dueDate:
          type: string
          format: date-time
        project:
          type: object
          properties:
            id:
              type: string
            name:
              type: string

    CreateTaskRequest:
      type: object
      required:
        - projectId
        - title
        - priority
      properties:
        projectId:
          type: string
        title:
          type: string
        description:
          type: string
        priority:
          type: string
        assigneeId:
          type: string
        dueDate:
          type: string
          format: date-time

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
        priority:
          type: string
        assigneeId:
          type: string
        dueDate:
          type: string

    Equipment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        status:
          type: string
        location:
          type: string
        serialNumber:
          type: string
        purchaseDate:
          type: string
          format: date

    CreateEquipmentRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          type: string
        location:
          type: string
        serialNumber:
          type: string
        purchaseDate:
          type: string
          format: date

    BookEquipmentRequest:
      type: object
      required:
        - startDate
        - endDate
        - projectId
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        projectId:
          type: string

    Budget:
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        category:
          type: string
        allocated:
          type: number
          format: float
        spent:
          type: number
          format: float
        remaining:
          type: number
          format: float

    CreateBudgetRequest:
      type: object
      required:
        - projectId
        - category
        - allocated
      properties:
        projectId:
          type: string
        category:
          type: string
        allocated:
          type: number
          format: float

    KPIMetrics:
      type: object
      properties:
        projectsCompleted:
          type: integer
        tasksCompleted:
          type: integer
        budgetUtilization:
          type: number
          format: float
        teamEfficiency:
          type: number
          format: float
        onTimeDelivery:
          type: number
          format: float

    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean
