openapi: 3.0.3
info:
  title: GVTEWAY API
  description: |
    GVTEWAY is a comprehensive event management and ticketing platform.
    This API provides endpoints for managing events, tickets, orders, marketplace, social features, and memberships.
  version: 1.0.0
  contact:
    name: GVTEWAY API Support
    email: api-support@gvteway-atlvs.com

servers:
  - url: https://api.gvteway-atlvs.com
    description: Production server
  - url: http://localhost:3000
    description: Development server

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Events
    description: Event management operations
  - name: Tickets
    description: Ticket purchasing and management
  - name: Orders
    description: Order management
  - name: Marketplace
    description: Marketplace and product operations
  - name: Social
    description: Social features (posts, comments, likes)
  - name: Memberships
    description: Membership subscription management
  - name: Adventures
    description: Adventure booking and management
  - name: Artists
    description: Artist profiles and management
  - name: Venues
    description: Venue information

paths:
  /api/auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: securePassword123
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/ValidationError'

  /api/auth/register:
    post:
      tags:
        - Authentication
      summary: User registration
      description: Register a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /api/gvteway/events:
    get:
      tags:
        - Events
      summary: List events
      description: Get a paginated list of events with optional filters
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: category
          in: query
          schema:
            type: string
            enum: [MUSIC, SPORTS, ARTS, FOOD, TECH, OTHER]
        - name: status
          in: query
          schema:
            type: string
            enum: [UPCOMING, ONGOING, PAST]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Events
      summary: Create event
      description: Create a new event (requires ORGANIZER role)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/gvteway/events/{id}:
    get:
      tags:
        - Events
      summary: Get event by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Events
      summary: Update event
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventRequest'
      responses:
        '200':
          description: Event updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Events
      summary: Delete event
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Event deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /api/gvteway/tickets:
    get:
      tags:
        - Tickets
      summary: List user tickets
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of tickets
          content:
            application/json:
              schema:
                type: object
                properties:
                  tickets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket'

  /api/gvteway/tickets/purchase:
    post:
      tags:
        - Tickets
      summary: Purchase tickets
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseTicketRequest'
      responses:
        '201':
          description: Tickets purchased
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseTicketResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '402':
          description: Payment required
        '409':
          description: Tickets sold out

  /api/gvteway/orders:
    get:
      tags:
        - Orders
      summary: List user orders
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /api/gvteway/orders/{id}:
    get:
      tags:
        - Orders
      summary: Get order by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  schemas:
    AuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [USER, ORGANIZER, ADMIN]

    Event:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        venue:
          type: string
        category:
          type: string
          enum: [MUSIC, SPORTS, ARTS, FOOD, TECH, OTHER]
        status:
          type: string
          enum: [UPCOMING, ONGOING, PAST, CANCELLED]
        imageUrl:
          type: string
          format: uri
        ticketsAvailable:
          type: integer
        organizer:
          $ref: '#/components/schemas/User'

    CreateEventRequest:
      type: object
      required:
        - name
        - startDate
        - endDate
        - venue
        - category
      properties:
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        venue:
          type: string
        category:
          type: string
        imageUrl:
          type: string
          format: uri
        ticketsAvailable:
          type: integer

    UpdateEventRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        venue:
          type: string
        status:
          type: string
        imageUrl:
          type: string

    Ticket:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        status:
          type: string
          enum: [ACTIVE, USED, CANCELLED, REFUNDED]
        qrCode:
          type: string
          format: uri
        event:
          $ref: '#/components/schemas/Event'
        purchaseDate:
          type: string
          format: date-time

    PurchaseTicketRequest:
      type: object
      required:
        - eventId
        - ticketType
        - quantity
        - paymentMethodId
      properties:
        eventId:
          type: string
        ticketType:
          type: string
        quantity:
          type: integer
          minimum: 1
        paymentMethodId:
          type: string

    PurchaseTicketResponse:
      type: object
      properties:
        orderId:
          type: string
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
        total:
          type: number
          format: float

    Order:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [PENDING, COMPLETED, CANCELLED, REFUNDED]
        total:
          type: number
          format: float
        items:
          type: array
          items:
            type: object
        createdAt:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
